*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

*.sublime-*

parser.ml

parser.mli

scanner.ml

chemlab

*.class
*.java

*~

test.txt

Final Report/FinalReport.aux
Final Report/FinalReport.log
Final Report/FinalReport.synctex.gz

test/*.out
